
<div>
    <p>Автоматически добавлены категории Еда, Напитки , Автомасла</p>
</div>
<form asp-action="InputNameOfCategory">
    <label>Введите название категории</label><br /><br />
    <input type="text" name="nameOfCategory" /><br /><br />
    <input type="submit" value="Показать" />
</form>
